@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
background-color: #8FC3FF;
}

#extraOptions {
position: fixed;
top: 2%;
left: 2%;
width: 40px;
height: 40px;
background-color: white;

}
button {
width: 25%;
border: none;
background-color: #C7F6FF;
height: 50px;
margin: 5px;
border-radius: 10px;
transition: 0.3s ease;
font-family: "Plus Jakarta Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
overflow: hidden;
}

button:hover {
  background: linear-gradient(270deg, #00008B, #FFC0CB);
  background-size: 600% 600%;

  -webkit-animation: GradientFlow 15s ease infinite;
  -moz-animation: GradientFlow 15s ease infinite;
  animation: GradientFlow 15s ease infinite;
}

@-webkit-keyframes GradientFlow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientFlow {
  25%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientFlow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

p {
font-family: "Plus Jakarta Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}

#mainDiv {
border: none;
height: 87vh;
width: 98%;
border-radius: 10px;
background-color: #DBF1FF;
text-align: left;
padding: 5px;
font-family: "Plus Jakarta Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
outline: none;
margin-top: 20px;
overflow: auto;
}

#extraOptions {
display: flex;
 justify-content: center;
align-items: center; 
border-radius: 10px;
user-select: none;
}

#hamburgerMenu {
font-weight: 700;
}

boldText {
font-weight: 800;
}

.highlighted {
background-color: yellow;
}
.italic {
font-style: italic;
}
#menu {
width: 50%;
height: 98vh;
position: fixed;
background-color: white;
border-radius: 0 10px 10px 0;
padding: 2px;
display: none;
}

.versionInfo {
position: fixed;
bottom: 2%;
left: 20%;
}

.developmentProgress {
margin-top: 100px;
font-weight: 800;
font-size: 30px;
}

.closeButton {
background-color: red;
font-weight: 900;
color: white;
margin-top: 100px;
width: 40%;
}

.closeButton:hover {
  background: linear-gradient(270deg, #FF0000, #FF8A8A);
  background-size: 300% 300%;

  -webkit-animation: GradientFlow 15s ease infinite;
  -moz-animation: GradientFlow 15s ease infinite;
  animation: GradientFlow 15s ease infinite;
}

@-webkit-keyframes GradientFlow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientFlow {
  25%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientFlow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.menuItemButton {
width: 70%;
background-color: #829FFF;
}

.extraOptionsContainer {
background-color: #C2FFF7;
margin-top: 40vh;
width: 95%;
border-radius: 20px;
}
